<center> <h1 style="background-color:#5a4343; color:white; font-weight: bold" >Análise dos fatores depressivos - base de dados NHANES 2005-2006</h1></center>

<!-- <center> <h2 style="background-color:#AB7070; color:white" >Inicializando o PySpark</h2></center>
<center> <h3 style="background-color:#ECF7AE; color:#3F403D" >Hiper Parâmetros</h3></center> 
    -->

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Dataset usado para análise</h2></center>

Os dados disponíveis são resultados da NHNES (National Health and Nutrition
Examination Survey), realizada anualmente nos EUA para avaliar a saúde e
nutrição de adultos e crianças, os dados dessa análise são do período de 2005-2006;

Perguntas a serem respondidas na análise

> 1. Qual o perfil de indivíduos (adultos maiores de 18 anos) com sintomas depressivos nos EUA no período de 2005-2006?
> 2. Hábitos saudáveis de alimentação e atividade física estão associados a menores índices de depressão nesta população?


<center> <h2 style="background-color:#ECF7AE; color:#3F403D; font-weight: bold" >Dicionários das bases</h2></center>

**DEMO_PHQ.csv:** banco de dados contendo 5334 observações de adultos
pesquisados no NHANES 2005-2006, contendo as seguintes variáveis:

| Nome | Descrição | Valores |
|------| -------- | --------- |
|**SEQN**||Identificador único do respondente|
|**DPQ010**|  Nas últimas 2 semanas, com que frequência você <br> ficou incomodado  por algum dos problemas a seguir:<br>  >>> Pouco interesse ou pouco prazer em fazer as coisas | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ020**|  Nas últimas 2 semanas, com que frequência você <br> ficou incomodado por algum dosproblemas a seguir: <br>  >>> Se sentiu para baixo, deprimido(a) ou sem perspectiva | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ030**|  Nas últimas 2 semanas, com que frequência você <br>  ficou incomodado por algum dosproblemas a seguir: <br>  >>> Dificuldade para pegar no sono  <br> ou permanecer dormindo ou dormiu mais do que o costume | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ040**|  Nas últimas 2 semanas, com que frequência você  <br> ficou incomodado por algum dosproblemas a seguir: <br>  >>> Se sentiu cansado(a) ou com pouca energia | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ050**|  Nas últimas 2 semanas, com que frequência você  <br> ficou incomodado por algum dosproblemas a seguir: <br>  >>> Falta de apetite ou comeu demais | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ060**|  Nas últimas 2 semanas, com que frequência você <br>  ficou incomodado por algum dosproblemas a seguir: <br>  >>> Se sentiu mal consigo mesmo(a)  <br>  ou achou que é um fracasso ou que  <br> decepcionou sua família ou a você mesmo(a) | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ070**|  Nas últimas 2 semanas, com que frequência você ficou <br> incomodado por algum dosproblemas a seguir: <br>  >>> Dificuldade para se concentrar nas <br>  coisas (como ler o jornal ou ver televisão) | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ080**|  Nas últimas 2 semanas, com que frequência você ficou  <br> incomodado por algum dosproblemas a seguir: <br>  >>> Teve lentidão para se movimentar  <br>  ou falar (a ponto de outras pessoas perceberem), <br>  ou ao contrário, esteve tão agitado(a)  <br> que você ficava andando de um lado para  <br> o outro mais do que costume | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**DPQ090**|  Nas últimas 2 semanas, com que frequência você ficou  <br> incomodado por algum dosproblemas a seguir: <br>  >>> Pensou em se ferir de alguma maneira  <br> ou que seria melhor estar morto(a) | 0 = Nenhuma vez; <br> 1 = Menos de uma semana; <br> 2 = Uma semana ou mais; <br> 3 = Quase todos os dias; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**RIAGENDR**| Gênero | 1 = Masculino <br> 2 = Feminino |
|**RIDAGEYR**| Idade em anos | |
|**RIDRETH1**| Raça/Etnia | 1 = Branco não-hispânico; <br>  2 = Negro não-hispânico; <br>  3 = Mexicano-americano; <br>  4 = Outro; <br>  5 = Outro - Hispânico |
|**DMDEDUC**| Escolaridade | 1 = Menor que 9o ano; <br> 2 = 9-12o ano; <br> 3 = Ensino médio; <br> 4 = Ensino superior incompleto; <br> 5 = Superior completo ou maior; <br> 7 = Se recusou a responder; <br> 9 = Não sabe |
|**INDFMINC**| Renda anual familiar (US$) | 1 = 0-4999; <br> 2 = 5000-9999; <br> 3 = 10000-14999; <br> 4 = 15000-19999; <br> 5 = 20000-24999; <br> 6 = 25000-34999; <br> 7 = 35000-44999; <br> 8 = 45000-54999; <br> 9 = 55000-64999; <br> 10 = 65000-74999; <br> 11 = Maior ou igual a 75000; <br> 12 = Maior que 20000; <br> 13 = Menor que 20000; <br> 77 = Se recusou a responder; <br> 99 = Não sabe |

---

**PAG_HEI.csv:** banco de dados contendo 9424 observações de crianças e adultos
pesquisados no NHANES 2005-2006:

| Nome | Descrição | Valores |
|------| -------- | :---------: |
|**SEQN**| Identificador único do respondente ||
|**PAG_MINW**|Tempo total semanal de atividade aeróbica <br> moderada-vigorosa em minutos segundo o <br> Physical Activity Guideline (PAG)| |
|**ADHERENCE**| Grupo de aderência ao <br> Physical Activity Guideline (PAG). | 1 = Baixo (< 150 min/semana); <br> 2 = Adequado (150-300 min/semana); <br>  3 = Acima (> 300 min/semana) |
|**HEI2015C1_TOTALVEG**| Healthy Eating Index - Componente<br> 1 - Total de Vegetais | 0-5 |
|**HEI2015C2_GREEN_AND_BEAN**| Healthy Eating Index - Componente<br> 2 - Verduras verde-escuras e leguminosas | 0-5 |
|**HEI2015C3_TOTALFRUIT**| Healthy Eating Index - Componente<br> 3 - Frutas totais | 0-5 |
|**HEI2015C4_WHOLEFRUIT**| Healthy Eating Index - Componente<br> 4 - Frutas in natura | 0-5 |
|**HEI2015C5_WHOLEGRAIN**| Healthy Eating Index - Componente<br> 5 - Grãos integrais | 0-10 |
|**HEI2015C6_TOTALDAIRY**| Healthy Eating Index - Componente<br> 6 - Laticínios | 0-10 |
|**HEI2015C7_TOTPROT**| Healthy Eating Index - Componente<br> 7 - Proteínas | 0-5 |
|**HEI2015C8_SEAPLANT_PROT**| Healthy Eating Index - Componente<br> 8 - Plantas marinhas e proteínas vegetais | 0-5 |
|**HEI2015C9_FATTYACID**| Healthy Eating Index - Componente<br> 9 - Ácido-graxo | 0-10 |
|**HEI2015C10_SODIUM**| Healthy Eating Index - Componente<br> 10 - Sódio | 0-10 |
|**HEI2015C11_REFINEDGRAIN**| Healthy Eating Index - Componente<br> 11 - Grãos refinados | 0-10 |
|**HEI2015C12_SFAT**| Healthy Eating Index - Componente<br> 12 - Gordura saturada | 0-10 |
|**HEI2015C13_ADDSUG**| Healthy Eating Index - Componente<br> 13 - Açúcares adicionados | 0-10 |
|**HEI2015_TOTAL_SCORE**| Healthy Eating Index - Escore total | 0-100 |

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Bibliotecas usadas na Análise</h2></center>

In [112]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Tratamento das bases</h2></center>

<center> <h3 style="background-color:#ECF7AE; color:#3F403D; font-weight: bold" >Carregando e realizando a limpeza da base de dados DEMO_PHQ</h3></center>

In [113]:
df_demo_phd = pd.read_csv("./dados_projeto/DEMO_PHQ.csv")

Visualizando as 10 primeiras linhas da base de dados

In [114]:
df_demo_phd.head(10)

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,RIAGENDR,RIDAGEYR,RIDRETH1,DMDEDUC,INDFMINC
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,85,3,4,4.0
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,44,4,4,11.0
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,70,3,5,11.0
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,73,3,3,12.0
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,2,18,2,3,11.0
5,31143,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,19,3,4,11.0
6,31144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,21,2,3,3.0
7,31149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,85,3,2,1.0
8,31150,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,79,3,3,3.0
9,31151,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2,59,4,3,7.0

Obtendo o shape do DataFrame

In [115]:
print(f"\nAmostras dp dataset: {df_demo_phd.shape[0]}")
print(f"Variáveis do dataset: {df_demo_phd.shape[1]}")

Amostras dp dataset: 5334
Variáveis do dataset: 15

Informações do DataFrame

In [116]:
df_demo_phd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5334 entries, 0 to 5333
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5334 non-null   int64
 1   DPQ010    4836 non-null   float64
 2   DPQ020    4836 non-null   float64
 3   DPQ030    4836 non-null   float64
 4   DPQ040    4836 non-null   float64
 5   DPQ050    4836 non-null   float64
 6   DPQ060    4836 non-null   float64
 7   DPQ070    4836 non-null   float64
 8   DPQ080    4836 non-null   float64
 9   DPQ090    4836 non-null   float64
 10  RIAGENDR  5334 non-null   int64
 11  RIDAGEYR  5334 non-null   int64
 12  RIDRETH1  5334 non-null   int64
 13  DMDEDUC   5334 non-null   int64
 14  INDFMINC  5287 non-null   float64
dtypes: float64(10), int64(5)
memory usage: 625.2 KB

Observando se o DataFrame possui valores nulos, e realizando o tratamento caso tenha.

In [117]:
df_demo_phd.isnull().sum()

SEQN          0
DPQ010      498
DPQ020      498
DPQ030      498
DPQ040      498
DPQ050      498
DPQ060      498
DPQ070      498
DPQ080      498
DPQ090      498
RIAGENDR      0
RIDAGEYR      0
RIDRETH1      0
DMDEDUC       0
INDFMINC     47
dtype: int64

In [118]:
n_linhas = df_demo_phd.shape[0]
n_colunas = df_demo_phd.shape[1]

colunas_dados_faltante = (
    [(name, i) for i, name in zip(df_demo_phd.isnull().sum(),
             df_demo_phd.isnull().sum().index) if i != 0])
print(f"\nLinhas Total do DataFrame: {n_linhas}")
display(colunas_dados_faltante)

Linhas Total do DataFrame: 5334

[('DPQ010', 498),
 ('DPQ020', 498),
 ('DPQ030', 498),
 ('DPQ040', 498),
 ('DPQ050', 498),
 ('DPQ060', 498),
 ('DPQ070', 498),
 ('DPQ080', 498),
 ('DPQ090', 498),
 ('INDFMINC', 47)]

In [119]:
def percent_dados_faltantes_colunas(colunas):
    print()
    for nome_col, valor in colunas:
        dados_falt = (((valor/n_linhas)*100))
        print(f"Dados Faltantes: {nome_col}: {dados_falt:.2f}%")
percent_dados_faltantes_colunas(colunas_dados_faltante)

Dados Faltantes: DPQ010: 9.34%
Dados Faltantes: DPQ020: 9.34%
Dados Faltantes: DPQ030: 9.34%
Dados Faltantes: DPQ040: 9.34%
Dados Faltantes: DPQ050: 9.34%
Dados Faltantes: DPQ060: 9.34%
Dados Faltantes: DPQ070: 9.34%
Dados Faltantes: DPQ080: 9.34%
Dados Faltantes: DPQ090: 9.34%
Dados Faltantes: INDFMINC: 0.88%

Ao analisar os percentuais de valores faltantes, nota-se que eles são consideravelmente altos. No entanto, dado o tamanho substancial do conjunto de dados, é viável descartar as linhas que contenham valores faltantes.

In [120]:
print(f"\nShape antes de remover os valores faltantes: {df_demo_phd.shape}")

# Removendo os valores faltantes das linhas.
df_demo_phd.dropna(axis=0, inplace=True)

print(f"Shape depois de remover os valores faltantes: {df_demo_phd.shape}")

Shape antes de remover os valores faltantes: (5334, 15)
Shape depois de remover os valores faltantes: (4800, 15)

<center> <h3 style="background-color:#ECF7AE; color:#3F403D; font-weight: bold" >Carregando e realizando a limpeza da base de dados PAG_HEI</h3></center>

In [121]:
df_pag_hei = pd.read_csv("./dados_projeto/PAG_HEI.csv")

In [122]:
df_pag_hei.head(10)

,SEQN,PAG_MINW,ADHERENCE,HEI2015C1_TOTALVEG,HEI2015C2_GREEN_AND_BEAN,HEI2015C3_TOTALFRUIT,HEI2015C4_WHOLEFRUIT,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31128,NaN,NaN,3.083350,0.000000,3.927008,5.000000,0.000000,5.000000,4.251329,0.000000,2.487572,6.911882,10.000000,0.818029,6.408092,47.887262
1,31129,285.450346,2.0,1.697761,0.000000,3.731602,4.929186,0.527631,3.887809,4.693141,0.928562,3.740758,6.146441,7.274979,8.006457,0.000000,45.564326
2,31130,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31131,264.711316,2.0,3.115103,0.000000,5.000000,1.320674,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
4,31132,1353.348730,3.0,3.509081,0.000000,5.000000,5.000000,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
5,31133,0.000000,1.0,1.417400,0.000000,2.083333,1.317204,0.000000,3.176179,3.617204,0.470430,5.657701,5.589008,0.000000,6.473871,5.779322,35.581653
6,31134,1011.478060,3.0,2.845772,1.283933,2.629005,5.000000,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
7,31136,713.625866,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,31137,1423.787529,3.0,1.516093,0.000000,0.828672,0.000000,0.676749,5.000000,3.526000,0.000000,4.379950,8.192344,7.032194,5.461700,0.000000,36.613702
9,31138,NaN,NaN,3.389396,0.000000,5.000000,5.000000,1.558511,5.000000,4.079000,0.000000,7.149274,2.288504,5.801370,7.816354,7.899627,54.982037

Obtendo o shape do DataFrame

In [123]:
print(f"\nAmostras dp dataset: {df_pag_hei.shape[0]}")
print(f"Variáveis do dataset: {df_pag_hei.shape[1]}")

Amostras dp dataset: 9424
Variáveis do dataset: 17

Informações do DataFrame

In [124]:
df_pag_hei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      9424 non-null   int64
 1   PAG_MINW                  7150 non-null   float64
 2   ADHERENCE                 7150 non-null   float64
 3   HEI2015C1_TOTALVEG        8549 non-null   float64
 4   HEI2015C2_GREEN_AND_BEAN  8549 non-null   float64
 5   HEI2015C3_TOTALFRUIT      8549 non-null   float64
 6   HEI2015C4_WHOLEFRUIT      8549 non-null   float64
 7   HEI2015C5_WHOLEGRAIN      8549 non-null   float64
 8   HEI2015C6_TOTALDAIRY      8549 non-null   float64
 9   HEI2015C7_TOTPROT         8549 non-null   float64
 10  HEI2015C8_SEAPLANT_PROT   8549 non-null   float64
 11  HEI2015C9_FATTYACID       8549 non-null   float64
 12  HEI2015C10_SODIUM         8549 non-null   float64
 13  HEI2015C11_REFINEDGRAIN   8549 non-null   float64
 14  HEI2015C12_SFAT           8549 non-null   float64
 15  HEI2015C13_ADDSUG         8549 non-null   float64
 16  HEI2015_TOTAL_SCORE       8549 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 1.2 MB

Observando se o DataFrame possui valores nulos, e realizando o tratamento caso tenha.

In [125]:
df_pag_hei.isnull().sum()

SEQN                           0
PAG_MINW                    2274
ADHERENCE                   2274
HEI2015C1_TOTALVEG           875
HEI2015C2_GREEN_AND_BEAN     875
HEI2015C3_TOTALFRUIT         875
HEI2015C4_WHOLEFRUIT         875
HEI2015C5_WHOLEGRAIN         875
HEI2015C6_TOTALDAIRY         875
HEI2015C7_TOTPROT            875
HEI2015C8_SEAPLANT_PROT      875
HEI2015C9_FATTYACID          875
HEI2015C10_SODIUM            875
HEI2015C11_REFINEDGRAIN      875
HEI2015C12_SFAT              875
HEI2015C13_ADDSUG            875
HEI2015_TOTAL_SCORE          875
dtype: int64

In [126]:
n_linhas_pag_hei = df_pag_hei.shape[0]
n_colunas_pag_hei = df_pag_hei.shape[1]

colunas_dados_faltante_pag_hei = (
    [(name, i) for i, name in zip(df_pag_hei.isnull().sum(),
             df_pag_hei.isnull().sum().index) if i != 0])
print(f"\nLinhas Total do DataFrame: {n_linhas_pag_hei}")
display(colunas_dados_faltante_pag_hei)

Linhas Total do DataFrame: 9424

[('PAG_MINW', 2274),
 ('ADHERENCE', 2274),
 ('HEI2015C1_TOTALVEG', 875),
 ('HEI2015C2_GREEN_AND_BEAN', 875),
 ('HEI2015C3_TOTALFRUIT', 875),
 ('HEI2015C4_WHOLEFRUIT', 875),
 ('HEI2015C5_WHOLEGRAIN', 875),
 ('HEI2015C6_TOTALDAIRY', 875),
 ('HEI2015C7_TOTPROT', 875),
 ('HEI2015C8_SEAPLANT_PROT', 875),
 ('HEI2015C9_FATTYACID', 875),
 ('HEI2015C10_SODIUM', 875),
 ('HEI2015C11_REFINEDGRAIN', 875),
 ('HEI2015C12_SFAT', 875),
 ('HEI2015C13_ADDSUG', 875),
 ('HEI2015_TOTAL_SCORE', 875)]

In [127]:
def percent_dados_faltantes_colunas(colunas):
    print()
    for nome_col, valor in colunas:
        dados_falt = (((valor/n_linhas_pag_hei)*100))
        print(f"Dados Faltantes: {nome_col}: {dados_falt:.2f}%")
percent_dados_faltantes_colunas(colunas_dados_faltante_pag_hei)

Dados Faltantes: PAG_MINW: 24.13%
Dados Faltantes: ADHERENCE: 24.13%
Dados Faltantes: HEI2015C1_TOTALVEG: 9.28%
Dados Faltantes: HEI2015C2_GREEN_AND_BEAN: 9.28%
Dados Faltantes: HEI2015C3_TOTALFRUIT: 9.28%
Dados Faltantes: HEI2015C4_WHOLEFRUIT: 9.28%
Dados Faltantes: HEI2015C5_WHOLEGRAIN: 9.28%
Dados Faltantes: HEI2015C6_TOTALDAIRY: 9.28%
Dados Faltantes: HEI2015C7_TOTPROT: 9.28%
Dados Faltantes: HEI2015C8_SEAPLANT_PROT: 9.28%
Dados Faltantes: HEI2015C9_FATTYACID: 9.28%
Dados Faltantes: HEI2015C10_SODIUM: 9.28%
Dados Faltantes: HEI2015C11_REFINEDGRAIN: 9.28%
Dados Faltantes: HEI2015C12_SFAT: 9.28%
Dados Faltantes: HEI2015C13_ADDSUG: 9.28%
Dados Faltantes: HEI2015_TOTAL_SCORE: 9.28%

In [128]:
print(f"\nShape antes de remover os valores faltantes: {df_pag_hei.shape}")

# Removendo os valores faltantes das linhas.
df_pag_hei.dropna(axis=0, inplace=True)

print(f"Shape depois de remover os valores faltantes: {df_pag_hei.shape}")

Shape antes de remover os valores faltantes: (9424, 17)
Shape depois de remover os valores faltantes: (6579, 17)

<center> <h3 style="background-color:#ECF7AE; color:#3F403D; font-weight: bold" >Combinando as duas bases de dados DEMO_PHQ e PAG_HEI</h3></center>

In [129]:
df_phd_hei = pd.merge(df_demo_phd, df_pag_hei, on="SEQN", how="inner")

In [130]:
df_phd_hei.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,HEI2015C5_WHOLEGRAIN,HEI2015C6_TOTALDAIRY,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE
0,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,3.141062,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899
1,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,4.448512,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696
2,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.217331,2.313900,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826
3,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,...,0.211544,0.000000,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393
4,31143,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.444002,5.000000,3.372033,0.000000,0.002362,5.223435,7.787420,0.000000,10.000000,46.086131

In [131]:
df_phd_hei.isnull().sum()

SEQN                        0
DPQ010                      0
DPQ020                      0
DPQ030                      0
DPQ040                      0
DPQ050                      0
DPQ060                      0
DPQ070                      0
DPQ080                      0
DPQ090                      0
RIAGENDR                    0
RIDAGEYR                    0
RIDRETH1                    0
DMDEDUC                     0
INDFMINC                    0
PAG_MINW                    0
ADHERENCE                   0
HEI2015C1_TOTALVEG          0
HEI2015C2_GREEN_AND_BEAN    0
HEI2015C3_TOTALFRUIT        0
HEI2015C4_WHOLEFRUIT        0
HEI2015C5_WHOLEGRAIN        0
HEI2015C6_TOTALDAIRY        0
HEI2015C7_TOTPROT           0
HEI2015C8_SEAPLANT_PROT     0
HEI2015C9_FATTYACID         0
HEI2015C10_SODIUM           0
HEI2015C11_REFINEDGRAIN     0
HEI2015C12_SFAT             0
HEI2015C13_ADDSUG           0
HEI2015_TOTAL_SCORE         0
dtype: int64

In [132]:
df_phd_hei.shape

(4702, 31)

<center> <h3 style="background-color:#ECF7AE; color:#3F403D; font-weight: bold" >Criando uma coluna com o Score do intrevistado</h3></center>

Para criar o Score do intrevistado, será somado os valores das variáveis `DPQ010` até `DPQ090`.

In [133]:
cols_dpq010_a_dpq090 = df_phd_hei.columns[1:10]
cols_dpq010_a_dpq090

Index(['DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070',
       'DPQ080', 'DPQ090'],
      dtype='object')

As perguntas feitas nos itens `DPQ010` ao `DPQ090` possuem as seguintes opções:

+ 0 = Nenhuma vez
+ 1 = Menos de uma semana;
+ 2 = Uma semana ou mais;
+ 3 = Quase todos os dias;
+ 7 = Se recusou a responder;
+ 9 = Não sabe

Ao somar os valores dos itens de `DPQ010` a `DPQ090` para gerar um escore, pode ocorrer uma distorção devido às opções 7 e 9, que indicam que o entrevistado optou por não fornecer a informação solicitada. Para mitigar essa distorção potencial, os valores desses campos são convertidos para zero. Isso ajuda a garantir que os escores gerados sejam mais confiáveis e representativos.

In [134]:
for cols in cols_dpq010_a_dpq090:
    df_phd_hei[cols] = df_phd_hei[cols].apply(lambda x: 0 if x==7 or x==9 else x)

In [135]:
np.unique(df_phd_hei[cols_dpq010_a_dpq090].values)

array([0., 1., 2., 3.])

Calculando o score de cada intrevistado e salvando em uma coluna chamada `PHQ9` no DataFrame `df_phd_hei`.

In [136]:
df_phd_hei["PHQ9"] = df_phd_hei[cols_dpq010_a_dpq090].sum(axis=1)
df_phd_hei["PHQ9"]

0        0.0
1        0.0
2        0.0
3        4.0
4        6.0
        ...
4697     2.0
4698    10.0
4699     2.0
4700     0.0
4701     4.0
Name: PHQ9, Length: 4702, dtype: float64

Criando a coluna `PHQ_GRP` com a classificação do escore `PHQ9`, assumindo
os valores:

 + 0 (“sem sintomas”) se `PHQ9` < 5
 + 1 (“sintomas leves”) se 5 <= `PHQ9` < 10
 + 2 (“sintomas moderados a severos”) se `PHQ9` >= 10

In [139]:
df_phd_hei["PHQ_GRP"] = (df_phd_hei.PHQ9.apply(
    lambda x: 0 if x<5 else (1 if (x>=5 and x<10) else 2)))

In [141]:
df_phd_hei.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,...,HEI2015C7_TOTPROT,HEI2015C8_SEAPLANT_PROT,HEI2015C9_FATTYACID,HEI2015C10_SODIUM,HEI2015C11_REFINEDGRAIN,HEI2015C12_SFAT,HEI2015C13_ADDSUG,HEI2015_TOTAL_SCORE,PHQ9,PHQ_GRP
0,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.071959,2.052399,0.684985,2.297100,9.512964,0.438428,3.919226,35.553899,0.0,0
1,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,0.000000,2.050769,7.369489,8.887880,8.186877,9.099088,63.551696,0.0,0
2,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,1.268648,2.958985,0.000000,5.627488,5.863078,5.878686,42.886826,0.0,0
3,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,...,4.088849,4.221442,10.000000,2.845774,0.000000,10.000000,9.658507,47.074393,4.0,0
4,31143,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,3.372033,0.000000,0.002362,5.223435,7.787420,0.000000,10.000000,46.086131,6.0,1

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Análise Exploratória (EDA) Univariada</h2></center>

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Análise Exploratória (EDA) Bivariada</h2></center>

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Testes de Hipóteses</h2></center>

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Implementação de um modelo de Previsão</h2></center>

<center> <h2 style="background-color:#AB7070; color:white; font-weight: bold" >Análise Crítica dos Resultados</h2></center>